
    <div class="row ">
     <div class="card" >
       <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
          <img
            class="filter-image"
            style="opacity: 1; max-width: 100%; top: 0%"
            src="https://cdn.wallpapersafari.com/66/63/Z9kPL0.jpg"
          />
        </div>
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title">About Me</h1>
          <h6 class="text-on-back">02</h6>
          <p class="profile-description mt-2" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, dolorem! Perspiciatis voluptas aliquam autem eveniet quis, placeat delectus veniam impedit at provident odio voluptatibus nihil inventore dolorem, optio nobis voluptates?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci blanditiis molestiae eos esse necessitatibus nobis illo, placeat deserunt eaque quod quas, sapiente incidunt neque unde quisquam veritatis aut voluptatum! Ab?
          </p>
        
        </div>
       </div>
      
    
     </div>

    
    </div>
