<div class="row display-row"  data-aos="fade-up">
  <div class="col-lg-5 col-md-12 about-me" style="height: fit-content;">
    <div class="row terminal-heading">
      <nav class="navbar">
        <div class="container-fluid">
          <a class=""></a>
          <a class="terminal-font">ryangovender@linux-desktop:~</a>
          <a class="navbar-brand" style="color: red">
            <img src="assets/img/buttons.png" />
          </a>
        </div>
      </nav>
      <nav class="navbar ml-2">
        <div style="color: white">
          <a class="terminal-menu-font">File</a>
          <a class="terminal-menu-font">Edit</a>
          <a class="terminal-menu-font">View</a>
          <a class="terminal-menu-font">Search</a>
          <a class="terminal-menu-font">Terminal</a>
          <a class="terminal-menu-font">Help</a>
        </div>
      </nav>
    </div>
    <p class="mt-1">
      <strong class="terminal-font-green">ryangovender@linux-desktop </strong
      >:-$ cat about-me.txt
    </p>
    <!-- <h3><strong style="font-weight: 900; color: yellow">>></strong>About Me</h3> -->

    <div class="row">
      <div class="col-lg-12 col-sm-12 px-2 py-2">
        <div class="card card-stats" style="padding: 10px">
          <div class="card-body">
            <div class="row">
              <div class="numbers">
                <h6>About me</h6>
                <p class="summary" style="text-align: center">
                  A Software Engineer with a passion for innovation and creating
                  efficient and effective solutions. I'm no stranger to writing
                  code for enterprise-level software which is used by millions
                  of users, I've been able to do this by being able to translate
                  business ideas/plans into efficient, maintainable and reusable
                  code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="mt-1">
      <strong class="terminal-font-green">ryangovender@linux-desktop </strong
      >:-$ cat education.txt
    </p>

    <div class="row">
      <div class="col-lg-6 col-sm-12 px-2 py-2">
        <div class="card card-stats bg-info">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-3">
                <div class="icon-big text-center icon-warning">
                  <i class="tim-icons icon-trophy text-success"> </i>
                </div>
              </div>
              <div class="col-9 col-md-9">
                <div class="numbers">
                  <h6>Btech: Software Development</h6>
                  <p style="text-align: center">
                    Durban University of Technology(2019)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 px-2 py-2">
        <div class="card card-stats bg-primary">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-3">
                <div class="icon-big text-center icon-warning">
                  <i class="tim-icons icon-bulb-63 text-info"> </i>
                </div>
              </div>
              <div class="col-9 col-md-9">
                <div class="numbers">
                  <h6>NDip: Application Development</h6>
                  <p style="text-align: center">
                    Durban University of Technology(2016-2019)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #vanta class="col-lg-7 col-md-12">

    <!-- <img
      class="filter-image"
      style="opacity: 0.8;"
      src="assets/img/iot2.png"
    /> -->
  </div>
</div>
