    <div class="row justify-content-center p-5">
      <div class="col-lg-12">
        <h1 class="text-center">My Services</h1>
        <div class="row row-grid justify-content-center">
          <div class="col-lg-3 col-md-6">
            <div class="card info ">
              <div class="icon icon-primary">
                <i class="tim-icons icon-puzzle-10"> </i>
              </div>
              <h4 class="info-title">Backend Development</h4>
              <hr class="line-primary" />

              <p>
              Experienced in developing systems using the Microsoft stack(.NET/.NET Core) at an enterprize
              and personal level, using ORM's like Dapper and Entity Framework and connecting these systems to
              relational (SQL Server) and Non realation (Elasticsearch) Databases. 
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card info ">
              <div class="icon icon-warning">
                <i class="tim-icons icon-refresh-02"> </i>
              </div>
              <h4 class="info-title">Clean Code</h4>
              <hr class="line-warning" />

              <p>
               Writing clean, reusable and maintainable code is something I take great pride by following pricipals like OOP and SOLID.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card info">
              <div class="icon icon-success">
                <i class="tim-icons icon-bulb-63"> </i>
              </div>
              <h4 class="info-title">Translating Ideas</h4>
              <hr class="line-success" />

              <p>
                Ability to understand business and user requirements and then translate these requirements
                into flow diagrams which can then be turned into code.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card info">
              <div class="icon icon-info">
                <i class="tim-icons icon-atom"> </i>
              </div>
              <h4 class="info-title">Front-End Development</h4>
              <hr class="line-info" />
              <p>
                A very capable front-end developer who has worked with Angular, Javascript, Typescript and Knockout.js.
                I dont enjoy front-end as much as back-end development but I still keep up and work with personal projects to stay relevant.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button [routerLink]="['/experience']" class="btn btn-primary btn-round btn-lg">
        <i class="tim-icons icon-gift-2"></i> My Experience
        </button>
    </div>
