<div class="wrapper">
  <!-- <div class="page-header" >
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6">
      <img class="path" style="opacity: 0.5; max-width: 100%; top: 0%" src="" />
    </div>
  </div>
</div> -->

  <div class="section">
    

    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5">
        <img
          class="filter-image"
          style="opacity: 1; max-width: 100%"
          src="assets/img/DECIDIO.png"
        />
      </div>

      <!-- <img class="filter-image mb-3" style="opacity: 1; max-width:20%;" src="assets/img/bet2.png" /> -->

      <div class="col-lg-6 col-md-6">
        <!-- <img class="filter-image mb-2" style="opacity: 1; max-width:25%; top:0%" src="assets/img/bet2.png" /> -->
        <div class="card card-coin card-plain">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Junior Software Engineer</h4>
                <span> Jan 2022 - Present </span>
                <hr class="line-primary" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  Streamlined one of the featured salesforce projects to work
                  totally generic
                </li>
                <li class="list-group-item">
                  Undertook the challenge of making a single document
                  template work in multiple languages without the need for
                  any code changes
                </li>
                <li class="list-group-item">
                  Succeeded in introducing more asynchronous code principals
                  to increase performance.
                </li>
                <li class="list-group-item">
                  Enhanced system performance by extending the use of
                  asynchronous programming.
                </li>
              </ul>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <app-techpills
                  [techArray] = "fontenddec"
                  type = "frontend"
                  ></app-techpills>
                  <app-techpills
                  [techArray] = "backenddec"
                  type = "backend"
                  ></app-techpills>
                  <app-techpills
                  [techArray] = "techdec"
                  type = "tech"
                  ></app-techpills>
            </div>
          </div>
          <!-- <div class="card-footer text-center">
            <button class="btn btn-primary btn-simple">Get plan</button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <img
            class="filter-image"
            style="opacity: 1; max-width: 20%;"
            src="assets/img/bet2.png"
          />
          <span>
            The South African subsidiary of Decidio GmbH - a software development
            and consulting company based in Vienna, Austria.
          </span>
        </div>
      </div> -->


    <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <img class="mobile filter-image mb-2" style="opacity: 1; max-width:25%; top:0%" src="assets/img/bet2.png" />
            <div class="card card-coin card-plain">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">
                      Software Development Engineer 1
                    </h4>
                    <span> Sept 2020 - Jan 2022 </span>
                    <hr class="line-info" />
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Overhauled parts of the current system from a monolithic
                      approach to a microservice approach
                    </li>
                    <li class="list-group-item">
                      Achieved communication between various microservices using
                      RabbitMQ.
                    </li>
                    <li class="list-group-item">
                      Released multiple features that are being used by over 4
                      million unique monthly users.
                    </li>
                    <li class="list-group-item">
                      Enhanced system performance by extending the use of
                      asynchronous programming.
                    </li>
                    <li class="list-group-item">
                      Pioneered the use of Elasticsearch to reduce the loads on
                      the highly trafficked Databases.
                    </li>
                    <li class="list-group-item">
                      Slashed debugging times by documenting all code/features I
                      develop.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="container">
                <div class="row justify-content-center">
                  <app-techpills
                  [techArray] = "frontenbet"
                  type = "frontend"
                  ></app-techpills>
                  <app-techpills
                  [techArray] = "backendbet"
                  type = "backend"
                  ></app-techpills>
                  <app-techpills
                  [techArray] = "dbbet"
                  type = "db"
                  ></app-techpills>
                  <app-techpills
                  [techArray] = "techbet"
                  type = "tech"
                  ></app-techpills>
                </div>
              </div>
              <!-- <div class="card-footer text-center">
                <button class="btn btn-info btn-simple">Get plan</button>
              </div> -->
            </div>
          </div>

      <div class="col-lg-4 col-md-4">
        <img
          class="path"
          style="opacity: 0.3; max-width: 100%"
          src="assets/img/ubg.png"
        />
        <img
          class="filter-image"
          style="opacity: 1; max-width: 100%; top: 0%"
          src="assets/img/exp2.png"
        />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5">
        <img
          class="filter-image"
          style="opacity: 1; max-width: 50%; top: 0%"
          src="assets/img/me.png"
        />
      </div>

      <!-- <img class="filter-image mb-3" style="opacity: 1; max-width:20%;" src="assets/img/bet2.png" /> -->

      <div class="col-lg-6 col-md-6">
        <!-- <img class="filter-image mb-2" style="opacity: 1; max-width:25%; top:0%" src="assets/img/bet2.png" /> -->
        <div class="card card-coin card-plain">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Graduate Trainee</h4>
                <span> Jan 2020 - Aug 2020 </span>
                <hr class="line-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  This is where my software development journey began. I learnt
                  some of the most important principles like SOLID and OOP.
                </li>
                <li class="list-group-item">
                  Dived into enterprise-level code for the first time.
                </li>
                <li class="list-group-item">
                  Navigated version control and all its importance.
                </li>
                <li class="list-group-item">
                  Eliminating bugs and result in decreasing user downtime.
                </li>
                <li class="list-group-item">
                  Compiled an entire full-stack application.
                </li>
              </ul>
            </div>
          </div>
         
        <div class="container">
          <div class="row justify-content-center">
            <app-techpills
            [techArray] = "frontenGrad"
            type = "frontend"
            ></app-techpills>
            <app-techpills
            [techArray] = "backendGrad"
            type = "backend"
            ></app-techpills>
            <app-techpills
            [techArray] = "dbGrad"
            type = "db"
            ></app-techpills>
          </div>
        </div>
          <!-- <div class="card-footer text-center">
            <button class="btn btn-info btn-simple">Get plan</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
