    <img class="dots" src="assets/img/dots.png" />
    <img class="path" style="opacity: 0.5; max-width:100%; top:0%" src="assets/img/techbg2.png" />
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-7 ml-auto mr-auto">
          <div class="row justify-content-center">
            <img class="path" style="opacity: 1; max-width:100%; z-index:-10; top:0%" src="assets/img/portalng.png" />
            <img
            class="filter-image"
            style="opacity: 1; max-width: 100%;"
            src="assets/img/meog.png"
          />
          </div>
      </div>
        <div class="col-lg-5 col-md-5">
          <h1 class="profile-title">Hello, I'm Ryan Govender.</h1>
          <h6 class="text-on-back">01</h6>
          <p class="profile-description mt-2">
            I'm a <strong style="font-weight:900">developer, techie </strong>and <strong style="font-weight:900">car fanatic</strong> who has been coding in some form since 2013. 
            I specialise in back-end development, but have worked with many front-end technologies. 
            My current weapon of choice is C# .NET however, I'm a firm believer that a programming language is just a tool to get a job done.
          </p>
        </div>
      </div>
    </div>
