    <img class="dots" src="assets/img/dots.png" />
    <img class="path" style="opacity: 0.5; max-width:100%; top:0%" src="assets/img/techbg2.png" />
    <div class="container align-items-center" style="padding-top: 15vh!important;">
      <div class="row">
        <div class="col-lg-7 col-md-7 ml-auto mr-auto">
          <div class="row justify-content-center">
            <img class="portal-image" style="opacity: 1; max-width:100%; z-index:-10; top:0%" src="assets/img/ramgif.gif" />
            <img
            class="filter-image"
            style="opacity: 1; max-width: 100%;"
            src="assets/img/meog.png"
          />
          </div>
      </div>
        <div class="col-lg-5 col-md-5 mt-5">
          <h1 class="" style="position:relative;"> <strong style="font-weight:900;color:yellow">>></strong> Hello, I'm Ryan Govender.</h1>
          <p class="profile-description mt-2" style="font-size: large;">
            <strong style="font-weight:900;color:yellow">>></strong>  I'm a <strong style="font-weight:900">developer, techie </strong><strong class="keyword"> and </strong> <strong style="font-weight:900">car fanatic</strong> who has been coding <strong class="keyword"> in </strong>
             some form since 2013. 
            I specialise <strong class="keyword"> in </strong> back-end development, but have worked with many front-end technologies. 
            My current weapon of choice <strong class="keyword"> is </strong> C# .NET however, I'm a firm believer that a programming language <strong class="keyword"> is </strong> just a tool to get a job done.
          </p>
        </div>
      </div>
    </div>
